:root {
    --border: solid gray 1px;
}

.table {
    border-radius: .25rem;
    border: var(--border);
    width: fit-content;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 16px;
}

.table td,
th {
    padding: 16px;
    border: var(--border);
}